## Анализ набора данных с использованием `pandas` (2)

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('Employee.csv')

In [2]:
df.head()

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1

In [3]:
df.groupby('EverBenched')['LeaveOrNot'].mean()*100

EverBenched
No     33.125749
Yes    45.397490
Name: LeaveOrNot, dtype: float64

Постройте сводную таблицу, показывающую средний возраст сотрудников в каждом городе.

Рассчитайте количество сотрудников по каждому уровню образования и их средний возраст.

Создайте сводную таблицу, показывающую количество мужчин и женщин в каждом уровне оплаты (Payment Tier).

Составьте сводную таблицу, отражающую процент сотрудников, покинувших компанию в следующие два года, в зависимости от того, были ли они когда-либо исключены из проектов на месяц или более.

Постройте сводную таблицу, отображающую медианный опыт работы в текущей области в зависимости от уровня образования и пола сотрудников.

Рассчитайте количество сотрудников по каждому году присоединения к компании и их средний возраст.

Создайте сводную таблицу, показывающую процент сотрудников, покинувших компанию в следующие два года, в зависимости от уровня образования и города, в котором они работают.

Составьте сводную таблицу, отображающую средний возраст сотрудников, которые были когда-либо исключены из проектов, и тех, кто не был, в зависимости от уровня оплаты.

Постройте сводную таблицу, показывающую средний возраст сотрудников, которые покинули компанию в следующие два года, в зависимости от города и опыта работы в текущей области.

Создайте сводную таблицу, отображающую процент сотрудников, покинувших компанию в следующие два года, в зависимости от уровня оплаты и того, были ли они когда-либо исключены из проектов на месяц или более.