## Анализ набора данных с использованием `pandas`

### Загрузка данных и первичный обзор

В этом задании мы будем работать с набором данных `gapminder`, который содержит информацию о различных странах и их показателях развития. Мы будем использовать библиотеку Pandas для базового анализа данных.

In [1]:
import pandas as pd
gapminder_data = pd.read_csv('gapminder.csv')

Выведите информацию о первых 10 записях набора данных:

In [2]:
# Вставьте код
gapminder_data.head(10)

,country,region,income,income_level,life_exp,co2,co2_change,population
0,Afghanistan,Asia,2.03,Level 1,62.7,0.254,increase,37.2000
1,Albania,Europe,13.30,Level 3,78.4,1.590,increase,2.8800
2,Algeria,Africa,11.60,Level 3,76.0,3.690,increase,42.2000
3,Andorra,Europe,58.30,Level 4,82.1,6.120,decrease,0.0770
4,Angola,Africa,6.93,Level 2,64.6,1.120,decrease,30.8000
5,Antigua and Barbuda,Americas,21.00,Level 3,76.2,5.880,increase,0.0963
6,Argentina,Americas,22.70,Level 3,76.5,4.410,decrease,44.4000
7,Armenia,Europe,12.70,Level 3,75.6,1.890,decrease,2.9500
8,Australia,Asia,49.00,Level 4,82.9,16.900,decrease,24.9000
9,Austria,Europe,55.30,Level 4,82.1,7.750,decrease,8.8900

Выведите информацию о количестве записей и столбцов в наборе данных:

In [4]:
# Вставьте код
# gapminder_data.info()
gapminder_data.shape

(193, 8)

Произведите группировку данных по региону сохраните значение в переменной `region_means` содержащей усредненные значения по показателям `income`, `life_exp`, `co2`, `population`:

In [5]:
# Вставьте код
import numpy as np

region_means = gapminder_data.groupby('region')[['income', 'life_exp', 'co2', 'population']].agg([np.mean])

region_means

/var/folders/24/z61d72zx27z5ml8twybhwmm40000gn/T/ipykernel_59217/593615270.py:4: FutureWarning: The provided callable <function mean at 0x1051ac2c0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  region_means = gapminder_data.groupby('region')[['income', 'life_exp', 'co2', 'population']].agg([np.mean])
/var/folders/24/z61d72zx27z5ml8twybhwmm40000gn/T/ipykernel_59217/593615270.py:4: FutureWarning: The provided callable <function mean at 0x1051ac2c0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  region_means = gapminder_data.groupby('region')[['income', 'life_exp', 'co2', 'population']].agg([np.mean])

             income   life_exp       co2 population
               mean       mean      mean       mean
region
Africa     5.733426  65.277778  1.213459  23.597094
Americas  18.022857  75.240000  4.204057  28.597837
Asia      20.477627  72.779661  6.282186  76.264483
Europe    38.120000  78.866667  6.344000  18.812778

In [6]:
region_means = gapminder_data.groupby('region')[['income', 'life_exp', 'co2', 'population']].mean()
print(region_means)

             income   life_exp       co2  population
region
Africa     5.733426  65.277778  1.213459   23.597094
Americas  18.022857  75.240000  4.204057   28.597837
Asia      20.477627  72.779661  6.282186   76.264483
Europe    38.120000  78.866667  6.344000   18.812778

In [8]:
region_means = gapminder_data.groupby('region')[['income', 'life_exp', 'co2', 'population']].mean().reset_index()
region_means

     region     income   life_exp       co2  population
0    Africa   5.733426  65.277778  1.213459   23.597094
1  Americas  18.022857  75.240000  4.204057   28.597837
2      Asia  20.477627  72.779661  6.282186   76.264483
3    Europe  38.120000  78.866667  6.344000   18.812778

Отобразите список уникальных регионов, присутствующих в данных:

In [11]:
# Вставьте код
gapminder_data['region'].unique()

array(['Asia', 'Europe', 'Africa', 'Americas'], dtype=object)

In [17]:
gapminder_data['region'].drop_duplicates()

0        Asia
1      Europe
2      Africa
5    Americas
Name: region, dtype: object

In [22]:
gapminder_data.drop_duplicates(subset='region')['region']

0        Asia
1      Europe
2      Africa
5    Americas
Name: region, dtype: object

Выведите список стран, входящих в регион 'Europe':

In [23]:
# Вставьте код
gapminder_data[gapminder_data['region']=='Europe']

,country,region,income,income_level,life_exp,co2,co2_change,population
1,Albania,Europe,13.3,Level 3,78.4,1.59,increase,2.880
3,Andorra,Europe,58.3,Level 4,82.1,6.12,decrease,0.077
7,Armenia,Europe,12.7,Level 3,75.6,1.89,decrease,2.950
9,Austria,Europe,55.3,Level 4,82.1,7.75,decrease,8.890
10,Azerbaijan,Europe,14.2,Level 3,70.8,3.70,decrease,9.950
15,Belarus,Europe,19.0,Level 3,74.0,6.93,decrease,9.450
16,Belgium,Europe,51.1,Level 4,81.4,8.69,decrease,11.500
21,Bosnia and Herzegovina,Europe,14.4,Level 3,76.9,6.53,increase,3.320
25,Bulgaria,Europe,22.2,Level 3,73.3,6.32,decrease,7.050
42,Croatia,Europe,28.2,Level 4,78.6,4.48,decrease,4.160
44,Cyprus,Europe,40.0,Level 4,80.8,6.30,decrease,1.190
45,Czech Republic,Europe,39.9,Level 4,79.3,9.94,decrease,10.700
46,Denmark,Europe,56.2,Level 4,81.1,6.06,decrease,5.750
55,Estonia,Europe,35.1,Level 4,77.9,14.80,increase,1.320
59,Finland,Europe,48.0,Level 4,81.8,8.52,decrease,5.520
60,France,Europe,45.3,Level 4,82.9,5.20,decrease,65.000
63,Georgia,Europe,14.3,Level 3,73.3,2.64,increase,4.000
64,Germany,Europe,53.5,Level 4,81.2,9.14,decrease,83.100
66,Greece,Europe,29.1,Level 4,81.0,7.03,decrease,10.500
75,Hungary,Europe,31.1,Level 4,76.3,5.14,decrease,9.710
76,Iceland,Europe,56.8,Level 4,84.0,10.80,decrease,0.337
81,Ireland,Europe,83.7,Level 4,82.0,8.09,decrease,4.820
83,Italy,Europe,42.0,Level 4,83.1,5.58,decrease,60.600
93,Latvia,Europe,30.1,Level 4,75.8,3.73,decrease,1.930
98,Lithuania,Europe,35.4,Level 4,76.1,4.84,increase,2.800
99,Luxembourg,Europe,115.0,Level 4,82.9,15.90,decrease,0.604
105,Malta,Europe,43.3,Level 4,82.5,3.61,decrease,0.439
111,Moldova,Europe,12.4,Level 3,74.0,1.27,increase,4.050
113,Montenegro,Europe,20.7,Level 3,75.6,3.20,decrease,0.628
120,Netherlands,Europe,56.1,Level 4,81.7,9.48,decrease,17.100
126,North Macedonia,Europe,16.1,Level 3,74.3,3.49,decrease,2.080
127,Norway,Europe,64.3,Level 4,82.8,8.31,decrease,5.340
137,Poland,Europe,31.7,Level 4,78.0,9.07,increase,37.900
138,Portugal,Europe,34.0,Level 4,81.7,4.97,decrease,10.300
140,Romania,Europe,28.5,Level 4,75.5,3.80,decrease,19.500
141,Russia,Europe,26.7,Level 4,73.0,11.70,increase,146.000
147,Serbia,Europe,17.5,Level 3,75.6,5.17,decrease,8.800
151,Slovak Republic,Europe,31.2,Level 4,77.5,6.61,decrease,5.450
152,Slovenia,Europe,38.0,Level 4,81.4,6.95,decrease,2.080
158,Spain,Europe,40.3,Level 4,83.1,5.75,decrease,46.700
165,Sweden,Europe,52.3,Level 4,82.7,4.12,decrease,9.970
166,Switzerland,Europe,70.6,Level 4,83.9,4.33,decrease,8.530
177,Turkey,Europe,28.3,Level 4,78.1,5.20,increase,82.300
181,Ukraine,Europe,12.3,Level 3,73.9,5.09,decrease,44.200
183,United Kingdom,Europe,46.9,Level 4,81.0,5.65,decrease,67.100

In [24]:
countries_in_europe = gapminder_data.loc[gapminder_data['region']=='Europe']
print(countries_in_europe)

                    country  region  income income_level  life_exp    co2  \
1                   Albania  Europe    13.3      Level 3      78.4   1.59
3                   Andorra  Europe    58.3      Level 4      82.1   6.12
7                   Armenia  Europe    12.7      Level 3      75.6   1.89
9                   Austria  Europe    55.3      Level 4      82.1   7.75
10               Azerbaijan  Europe    14.2      Level 3      70.8   3.70
15                  Belarus  Europe    19.0      Level 3      74.0   6.93
16                  Belgium  Europe    51.1      Level 4      81.4   8.69
21   Bosnia and Herzegovina  Europe    14.4      Level 3      76.9   6.53
25                 Bulgaria  Europe    22.2      Level 3      73.3   6.32
42                  Croatia  Europe    28.2      Level 4      78.6   4.48
44                   Cyprus  Europe    40.0      Level 4      80.8   6.30
45           Czech Republic  Europe    39.9      Level 4      79.3   9.94
46                  Denmark  Europe    56.2      Level 4      81.1   6.06
55                  Estonia  Europe    35.1      Level 4      77.9  14.80
59                  Finland  Europe    48.0      Level 4      81.8   8.52
60                   France  Europe    45.3      Level 4      82.9   5.20
63                  Georgia  Europe    14.3      Level 3      73.3   2.64
64                  Germany  Europe    53.5      Level 4      81.2   9.14
66                   Greece  Europe    29.1      Level 4      81.0   7.03
75                  Hungary  Europe    31.1      Level 4      76.3   5.14
76                  Iceland  Europe    56.8      Level 4      84.0  10.80
81                  Ireland  Europe    83.7      Level 4      82.0   8.09
83                    Italy  Europe    42.0      Level 4      83.1   5.58
93                   Latvia  Europe    30.1      Level 4      75.8   3.73
98                Lithuania  Europe    35.4      Level 4      76.1   4.84
99               Luxembourg  Europe   115.0      Level 4      82.9  15.90
105                   Malta  Europe    43.3      Level 4      82.5   3.61
111                 Moldova  Europe    12.4      Level 3      74.0   1.27
113              Montenegro  Europe    20.7      Level 3      75.6   3.20
120             Netherlands  Europe    56.1      Level 4      81.7   9.48
126         North Macedonia  Europe    16.1      Level 3      74.3   3.49
127                  Norway  Europe    64.3      Level 4      82.8   8.31
137                  Poland  Europe    31.7      Level 4      78.0   9.07
138                Portugal  Europe    34.0      Level 4      81.7   4.97
140                 Romania  Europe    28.5      Level 4      75.5   3.80
141                  Russia  Europe    26.7      Level 4      73.0  11.70
147                  Serbia  Europe    17.5      Level 3      75.6   5.17
151         Slovak Republic  Europe    31.2      Level 4      77.5   6.61
152                Slovenia  Europe    38.0      Level 4      81.4   6.95
158                   Spain  Europe    40.3      Level 4      83.1   5.75
165                  Sweden  Europe    52.3      Level 4      82.7   4.12
166             Switzerland  Europe    70.6      Level 4      83.9   4.33
177                  Turkey  Europe    28.3      Level 4      78.1   5.20
181                 Ukraine  Europe    12.3      Level 3      73.9   5.09
183          United Kingdom  Europe    46.9      Level 4      81.0   5.65

    co2_change  population
1     increase       2.880
3     decrease       0.077
7     decrease       2.950
9     decrease       8.890
10    decrease       9.950
15    decrease       9.450
16    decrease      11.500
21    increase       3.320
25    decrease       7.050
42    decrease       4.160
44    decrease       1.190
45    decrease      10.700
46    decrease       5.750
55    increase       1.320
59    decrease       5.520
60    decrease      65.000
63    increase       4.000
64    decrease      83.100
66    decrease      10.500
75    decrease       9.710
76    decrease       0.337
81    decrease       4.820
83    decrease      60.600
93    decrease       1.930
98    increase       2.800
99    decrease       0.604
105   decrease       0.439
111   increase       4.050
113   decrease       0.628
120   decrease      17.100
126   decrease       2.080
127   decrease       5.340
137   increase      37.900
138   decrease      10.300
140   decrease      19.500
141   increase     146.000
147   decrease       8.800
151   decrease       5.450
152   decrease       2.080
158   decrease      46.700
165   decrease       9.970
166   decrease       8.530
177   increase      82.300
181   decrease      44.200
183   decrease      67.100

In [27]:
gapminder_data.query("region == 'Europe'").country.unique()

array(['Albania', 'Andorra', 'Armenia', 'Austria', 'Azerbaijan',
       'Belarus', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria',
       'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia',
       'Finland', 'France', 'Georgia', 'Germany', 'Greece', 'Hungary',
       'Iceland', 'Ireland', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg',
       'Malta', 'Moldova', 'Montenegro', 'Netherlands', 'North Macedonia',
       'Norway', 'Poland', 'Portugal', 'Romania', 'Russia', 'Serbia',
       'Slovak Republic', 'Slovenia', 'Spain', 'Sweden', 'Switzerland',
       'Turkey', 'Ukraine', 'United Kingdom'], dtype=object)

In [28]:
gapminder_data[gapminder_data['region'] == 'Europe']['country']

1                     Albania
3                     Andorra
7                     Armenia
9                     Austria
10                 Azerbaijan
15                    Belarus
16                    Belgium
21     Bosnia and Herzegovina
25                   Bulgaria
42                    Croatia
44                     Cyprus
45             Czech Republic
46                    Denmark
55                    Estonia
59                    Finland
60                     France
63                    Georgia
64                    Germany
66                     Greece
75                    Hungary
76                    Iceland
81                    Ireland
83                      Italy
93                     Latvia
98                  Lithuania
99                 Luxembourg
105                     Malta
111                   Moldova
113                Montenegro
120               Netherlands
126           North Macedonia
127                    Norway
137                    Poland
138                  Portugal
140                   Romania
141                    Russia
147                    Serbia
151           Slovak Republic
152                  Slovenia
158                     Spain
165                    Sweden
166               Switzerland
177                    Turkey
181                   Ukraine
183            United Kingdom
Name: country, dtype: object

Найдите медианное значение продолжительности жизни ('life_exp') по региону 'Africa':

In [29]:
# Вставьте код
gapminder_data[gapminder_data['region'] == 'Africa']['life_exp'].median()

np.float64(64.7)

Найдите страну с наибольшим количеством выбросов CO2 ('co2').

In [31]:
# Вставьте код
gapminder_data[gapminder_data['co2'] == gapminder_data['co2'].max()]['country']

139    Qatar
Name: country, dtype: object

Создайте новый столбец 'income_category', который будет содержать значения 'low', 'medium' и 'high' в зависимости от уровня дохода ('income').

In [33]:
# Вставьте код
def categorize_income(income):
    if income <= 30:
        return 'low'
    elif income <= 60:
        return 'medium'
    else:
        return 'high'

gapminder_data['income_category'] = gapminder_data['income'].apply(categorize_income)

gapminder_data

,country,region,income,income_level,life_exp,co2,co2_change,population,income_category
0,Afghanistan,Asia,2.03,Level 1,62.7,0.254,increase,37.200,low
1,Albania,Europe,13.30,Level 3,78.4,1.590,increase,2.880,low
2,Algeria,Africa,11.60,Level 3,76.0,3.690,increase,42.200,low
3,Andorra,Europe,58.30,Level 4,82.1,6.120,decrease,0.077,medium
4,Angola,Africa,6.93,Level 2,64.6,1.120,decrease,30.800,low
...,...,...,...,...,...,...,...,...,...
188,Venezuela,Americas,12.40,Level 3,75.4,4.810,decrease,28.900,low
189,Vietnam,Asia,7.59,Level 2,74.3,2.160,increase,95.500,low
190,Yemen,Asia,2.66,Level 2,66.1,0.356,decrease,28.500,low
191,Zambia,Africa,3.52,Level 2,62.5,0.302,increase,17.400,low
192,Zimbabwe,Africa,3.92,Level 2,60.6,0.850,increase,14.400,low

In [34]:
bins = [0, 50, 75, 100] # диапазоны: 0–50, 51–75, 76–100  
labels = ['Low', 'Average', 'High'] # столбцы  
my_data = gapminder_data['income_category'] = pd.cut(gapminder_data['income'], bins = bins, labels = labels, include_lowest = True)
print (my_data)

0          Low
1          Low
2          Low
3      Average
4          Low
        ...
188        Low
189        Low
190        Low
191        Low
192        Low
Name: income, Length: 193, dtype: category
Categories (3, object): ['Low' < 'Average' < 'High']

In [37]:
my_data = gapminder_data['income_category'] = pd.qcut(gapminder_data['income'], labels = labels ,q=3)
print (my_data)

0          Low
1      Average
2      Average
3         High
4      Average
        ...
188    Average
189    Average
190        Low
191        Low
192        Low
Name: income, Length: 193, dtype: category
Categories (3, object): ['Low' < 'Average' < 'High']

Посчитайте общее население (`population`) по региону `Americas`:

In [38]:
# Вставьте код
total_population_americas = gapminder_data.query("region == 'Americas'")['population'].sum()
print(f"Общее население региона Americas: {total_population_americas}")

Общее население региона Americas: 1000.9243

In [39]:
total_population = gapminder_data[gapminder_data['region'] == 'Americas']['population'].sum()
print (total_population)

1000.9243

In [40]:
gapminder_data[gapminder_data["region"] == "Americas"]["population"].sum()

np.float64(1000.9243)